<!DOCTYPE html>
<html>
  <head>

    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  </head>
  
  <body>
   <header>
     <div class='navBar'>
       <div class='logo'>
        <a href="/"><img class="img0" src="/images/lupulo.png" alt=""></a> 
       </div>
       
     </div>
   </header>
  <h1></h1>
    
  <p></p>
  
  </body>
</html>


