<!DOCTYPE html>
<html>
  <head>

    <title>Cerveceria Chester</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  </head>
  
  <body>
    <header>
   <div class='navbar'>
       
      <div class='logo'><a href="/"><img class="img0" src="/images/lupulo.png" alt=""></a> </div>
      
      <!-- </div> <a href="/"> <p class='titulo'>CERVECERIA CHESTER</p> </a> -->
       
       <ul class="navbar-list">
        <li class="navbar-list-item"><a href="/products/">CERVEZAS</a></li>
        <li class="navbar-list-item"><a href="/local">LOCAL</a></li>
        <li class="navbar-list-item"><a href="/eventos">EVENTOS</a></li>
        <li class="navbar-list-item"><a href="/fundadores">FUNDADORES</a></li>
        <li class="navbar-list-item"><a href="/contacto">CONTACTO</a></li>
      </ul>

      <div class=sesion> 
        <a href="/"><img class="img1" src="/images/usuario.png" alt=""></a> 
        <a href="/login" class=inicio2><p>INICIAR SESION</p></a></div>
        <a href="/register" class=inicio><p>REGISTRARSE</p></a>
        

      </div>

       <!-- <div><p class=fraseborracho1></p></div> -->
   
       <div class="primeraSeccion">
     
       <a href="/products"><img class="img2" src="/images/cervezas.png" alt=""></a>

       </div>

       <div class="primeraSeccion">
     
        <a href="/products"><img class="img2" src="/images/cervezas.png" alt=""></a>
 
        </div>

       
       </header>

       <main class='main'>

        <div class="segundaSeccion">
     
          <p class='p1'>Bienvenido a Cerveceria Chester </p> <br> 
          <p2 class='p2'> Con cerveceria chester tratamos de llevar la utopica cerveceria de las grandes capitales del pais hacia nuestro querido barrio Feput. Nuestro objetivo es que bajo la comodidad de tu zona puedas degustar todo tipo de variedades de cervezas despues de una jornada laboral o de fiaca con tus amigos mas cercanos y otros desconocidos.</p2>
   
          </div>
          
          <div class='productosDestacados'>
            <p class='p3'>Productos Destacados </p>
            <p class='p4'> Estos los productos mas frecuentes para nuestros usuarios </p>

          </div>

       </main>

       <footer class='footer'>
        


       </footer>

   
  
  </body>
</html>


