/*Div de sesion ubicado en navbar*/
.sesion{
  display: block;
  align-items: center;
  font-family: STAY HOME;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}
/*Letras de iniciar sesion y registrarse*/
.inicio2{
  color: white;
  text-decoration: none;
  position: absolute;
  top: 105px;
  right: 45px;
  font-size: 2rem;
  font-family: STAY HOME;
}
.inicio2:hover{
  background-color: lime;
}
.inicio { 
  color: white;
  text-decoration: none;
  position: absolute;
  top: 145px;
  right: 53px;
  font-size: 2rem;
  font-family: STAY HOME;
}
.inicio:hover{
  background-color: lime;
}
/*Logo usuario*/
.img1 {
  position: relative;

  width: 20%;
  top: 20px;
  right: -700px;  
}


/*Elimina marcos por defecto del navegador*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Barra de navegacion*/
.navbar{
  background-color: black;
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: space-between;
}

/*Lista de la barra de navegacion*/
.navbar-list{
  display: flex;
  align-items: center;
  font-size: 6rem;
  font-family: STAY HOME;
  color: white;
  position: absolute;
  left: 500px;
  top: 50px;
}
.navbar-list-item{
  list-style: none;
  padding: 25px;
}
.navbar-list-item > a{
  color: white;
  text-decoration: none;
}
.navbar-list-item:hover{
  background-color: lime;
}

/*Letras del logo
.titulo{
  display: block;
  font-size: 2rem;
  font-family: AMONG;
  position: absolute;
  top: 10px;
  left: 28px;
  color: rgb(255, 255, 255)
}*/
/*Logo lupulo*/

.img0 {
  position: relative;
  width: 50%;
  top: 10px;
  left: 0px;
}
.main{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: '/images/ladrillos.webp'
}
/*Nuestras cervezas imagen*/
.main > div > .img2{
  width: 1280;
  height: 720;
  position: absolute;
  top: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
/*Primera seccion*/
.primeraSeccion{
  width: 100%;
  height: 50vh;
  
  
}
/*Segunda seccion*/
.img2{
  position: absolute;
  top: 210px;
  width: 100%;
  height: 100vh;
}
/*Segunda seccion*/
.segundaSeccion{
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: gold;
  font-family: AMONG;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
  
}
.p1{
  position: relative;
  top: 50px;
  left: 950px;
  font-family: STAY HOME;
  font-optical-sizing: initial;
}
/*Primer titulo de main*/
.p1:hover{
background-color: whitesmoke ;
}
/*Primer parrafo de main*/
.p2{
  position: relative;
  top:0;
  left: 50px;
  font-family: STAY HOME;
  
}


/*Segundo titulo de main*/
.p3{
  position: relative;
  top: 50px;
  left: 1050px;
  font-family: STAY HOME;
}
.p3:hover{
  background-color: gold;
}
/*Segundo parrafo de main*/
.p4{
  position: relative;
  top: 80px;
  left: 550px;
  font-family: STAY HOME;
  align-items: center;
  justify-content: space-between;
}
/*footer*/
.footer{
  position: relative;
  bottom:0;
  width: 100%;
  background-color: black;
  height: 40vh;
  font-family: AMONG;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}
/*Listas del footer*/
.listas{
  display: flex;
  position: relative;
  left: 710px;
  top: 100px; 
  
}
/*Nosotros lista*/
.nosotros-lista{
  position: relative;
  bottom: 0%;
  left:0%;
  display: block;
  font-size: 1.35rem;

}

.siganos-lista{
  position: relative;
  bottom: 0%;
  left: 400px;
  display: block;
  color:white;
  font-size: 1.35rem;
}

.servicio-lista{
  position: relative;
  bottom: 0%;
  left: 200px;
  display: block;
  color:white;
  font-size: 1.35rem;
}

/*Titulos*/
.titulo-lista-1{
  color: white; 
  position: relative;
  top: -50px;
  left: 15px;
  font-size: 2.35rem;
}
.titulo-lista-2{
  color: white; 
  position: relative;
  top: -50px;
  left: 15px;
  font-size: 2.35rem;
}
.titulo-lista-3{
  color: white; 
  font-size: 2 rem;
  position: relative;
  top: -50px;
  left: 15px;
  font-size: 2.35rem;

}
/*Items lista*/
.listas-list-item{
  list-style: none;
  font-size: 1 rem;
  padding: 10px;
  margin: 10px;
  color: white;
  text-decoration: none;
}
/*Enlace de lista*/
.enlace-lista{
  color: white;
  text-decoration: none;
}

/*Main*/
.main{
width: 100%;
height: 160vh;

}

/*Productos destacados*/
.productosDestacados{
  width: 100%;
  background-color: lightgrey;
  height: 120vh;
  font-family: AMONG;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
}
/*Frase borracho*/
.fraseborracho{
position: relative;
align-items: center;
font-size: 2rem;
left: 680px;
top: 50px;
font-style: oblique;
}
/*Frase*/
.frase{
width: 100%;
height: 10vh;
background-color: rgb(221, 220, 220);
  }
