<!DOCTYPE html>
<html>
  <head>

    <title>Cerveceria Chester</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  </head>
  
  <body>
    <header>
        <div class='navbar'>
       
            <div class='logo'><a href="/"><img class="img0" src="/images/lupulo.png" alt=""></a> </div>
            <!-- </div> <a href="/"> <p class='titulo'>CERVECERIA CHESTER</p> </a> -->
             
            <ul class="navbar-list">
              <li class="navbar-list-item"><a href="/products/">CERVEZAS</a></li>
              <li class="navbar-list-item"><a href="/local">LOCALES</a></li>
              <li class="navbar-list-item"><a href="/eventos">EVENTOS</a></li>
              <li class="navbar-list-item"><a href="/fundadores">FUNDADORES</a></li>
              <li class="navbar-list-item"><a href="/contacto">CONTACTO</a></li>
            </ul>
            </div>
        
            <div class='iniciarsesion'> <p class='iniciarsesionp'> INICIAR SESION </p> </div>
            
            <div form="formulario-login" >
     
             
            </div>

       </header>

       <main class='main'>
        
        <div id="inputs">
          <div>
          <input name="email" class="email" type="text" placeholder="email">
          <div>
          <input name="password" class="passwordLogin" type="password" placeholder="password">
          <div>
          <input type="submit" value="login">
          </div>
        
        </div>
       </main>

       <footer class='footer'>

        <div class='listas'>

          <ul class="nosotros-lista"> 
          <p class="titulo-lista-1">NOSOTROS</p> 
          <li class="listas-list-item"><a class='enlace-lista' href="/">SOBRE NOSOTROS</a></li>
          <li class="listas-list-item"><a class='enlace-lista' href="/contacto">CONTACTO</a></li>
         </ul>

        <ul class='servicio-lista'>
          <p class="titulo-lista-2">SERVICIO AL CLIENTE</p>
          <li class="listas-list-item" ><p>LUNES A SABADOS</p></li>
          <li class="listas-list-item"><p>18:00 HS. A 3:00HS</p> </li>
          <li class="listas-list-item" ><p>(0381) 4218485</p></li>
          <li class="listas-list-item" ><p>AV. AMERICA 3329</p></li>
         </ul>

        <ul class='siganos-lista'>
          <p class="titulo-lista-3">SIGANOS</p>
          <li class="listas-list-item"><a class='enlace-lista' href="">FACEBOOK</a></li>
          <li class="listas-list-item"><a class='enlace-lista' href="">INSTAGRAM</a></li>
         </ul>
         </div>

       </footer>



   
  
  </body>
</html>


