<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form  accion="/register" method="POST">
       
        <label for="nombre">Nombre de la Birra</label>
        <input name="nombre" type="text"> <br>
       
        <label for="precio">Precio de la Birra</label>
        <input name="precio" type="text"> <br>
        
        <label for="marca">Marca del Elaborador</label>
        <input name="precio" type="text"> <br>

        <input type="submit"></input>
    </form>

    
</body>
</html>